<div class="container">

  <h1>[ngClass]</h1>


  <button class="btn btn-dark mb-3" (click)="activo='primero'">Primero</button>

  <button class="btn btn-danger mb-3" (click)="activo='segundo'">Segundo</button>

  <p class="text-info d-none">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, perspiciatis culpa atque facere veritatis
    laboriosam sequi tempora. Ratione asperiores illum odio tempora pariatur molestias, ab voluptate excepturi tenetur
    soluta quaerat.
  </p>

  <p class="text-danger d-none" [ngClass]="{'d-block':activo =='segundo'}">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus perferendis dicta nihil veritatis aspernatur
    numquam iure voluptas deleniti? Voluptatum consectetur fugit aliquam in rerum ab eaque sit dolores harum placeat?
  </p>

</div>