<div class="mt-5">
  <h2>Nosotros</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur fugiat ipsa facere placeat doloribus
    possimus enim consequatur voluptatem ad qui fuga optio aperiam sint, nesciunt non soluta vero deleniti. Vel!</p>
    <ul class="list-group">
        <li class="list-group-item" *ngFor= "let equipo of equipos, index as i">
          <h6>{{equipo.nombre}}</h6>
          <h6>{{equipo.especialidad}}</h6>
          <a [routerLink]="['/equipo',i]">Leer mas...</a>
        </li>
    </ul>
</div>